@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: black;
}

h1 {
  color: red;
}

.gear {
  border: none;
  border-radius: 10px;
  background-color: gray;
}

.buttons {
}

.btn {
  margin-left: 1000px;
}

nav {
}
